<div id="page-index" class="pageWrapper">
    <header class="light-blue lighten-2 black-text flex-item">
        Quick
        <img id="fe-navlogo" src="http://kapolos.com/images/letter-512.png" alt=""/>
        Quiz
    </header>

    <main class={{bgclass}}>
        {{#liquid-if showQ class="lequestion"}}
            <div id="insideWrapper" class="card-panel hoverable white-text flex-item">
                {{qq-qna
                handleAnswer="handleAnswer"
                showNameDialog="showNameDialog"
                username=username
                showNameLink=showNameLink
                questions=model
                showErrMsg=showErrMsg
                radioSelection=radioSelection
                }}
            </div>
        {{else}}
            <div id="insideWrapper" class="card-panel hoverable white-text flex-item">
                <div id="thankyouWrapper">
                    <h3>Supper shall be served!</h3>
                    <img src="https://i.imgur.com/lxHPbw1.jpg" alt=""/>

                    <p>Also, your answer has been submitted.</p>

                    <p>Thanks {{username}}, you rock!</p>
                </div>

            </div>
        {{/liquid-if}}
    </main>

    <footer class='page-footer light-blue white-text'>
        <div class="container">
            <div class="row">
                <div class="col m6 s12 flex-item">
                    <h5>If you don't answer</h5>
                </div>
                <div class="col m6 s12 flex-item">
                    <h5>a kitten will not eat supper</h5>
                </div>
            </div>
        </div>
        {{#md-copyright text='Made with ❤ (and ♠, ♦, & ♣)'
        startYear=2015
        class='light-blue darken-2 white-text'}}
            {{#link-to 'admin.questions' class="white-text right"}}Admin Panel{{/link-to}}
        {{/md-copyright}}
    </footer>

    <aside id="popupmsg" class={{popupmsgclass}}>
        {{popupmsgtext}}
    </aside>

    {{#if modalIsOpen}}
        {{#md-modal close='closeModal' class="modal bottom-sheet" modalUsername=modalUsername}}
            <div class="modal-content">
                <h4>What is thy name?</h4>

                {{md-input value=modalUsername
                label="I'll type something here"
                icon="mdi-action-android light-blue-text"}}
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'updateUsername'}}>
                    Done!
                </a>
            </div>
        {{/md-modal}}
    {{/if}}
</div>

